*.h5
*.xdmf
*.msh
*.prefs
*.pyc
*.png
*.info
*.dat
*.npz
*.0
*.idx
*.json
*.Solutions
*/data3DLUNARC
*/.settings
*/.cache
!Pre-jobScript.info
!FEKO patch Efield.dat
!FEKO patch gain.dat
!FEKO patch S11.dat
!prevRuns.npz